/* Sección Hero */
.hero {
    background-color: #002146 !important;
    color: white;
    padding: 5rem 0;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
}

.hero .btn {
    font-size: 1.2rem;
}

body {
    font-family: Arial, sans-serif;
}

.container-a{
    min-height: 78.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #2575fc;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #6a11cb;
}

.resultado {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: bold;
}

.en-progreso {
    color: #4caf50; /* Verde */
}

.aprobado {
    color: #4caf50; /* Verde */
}

.rechazado {
    color: #f44336; /* Rojo */
}

.numero-no-valido {
    color: #9e9e9e; /* Gris */
}
